{% extends "base.html" %}
{% block corpo %}
<div class="entrar"><div class="cartao">
  <img class="marca-entrar" src="{{ url_for('static', filename='marca_plutos.png') }}" alt="PLUTOS">
  <div class="sub-marca">Defina a sua senha</div>
  <form method="post">
    <label>Nova senha</label><input name="s1" type="password" autocomplete="new-password" autofocus>
    <label>Repita</label><input name="s2" type="password" autocomplete="new-password">
    <button type="submit">Gravar e entrar</button>
  </form>
  {% with msgs = get_flashed_messages() %}{% for m in msgs %}<div class="flash">{{ m }}</div>{% endfor %}{% endwith %}
</div></div>
{% endblock %}
